<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Express</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a
                        class="nav-link <% if(active === 'main'){%>active<%}%>"
                        href="/"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link <% if(active === 'features'){%>active<%}%>"
                        href="/features"
                        >Features</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
